<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Mr Repairman</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

		<!-- flatpack styles-->

		<link href="/styles/flatpack/base.css" rel="stylesheet">
		<link href="/styles/flatpack/box.css" rel="stylesheet">
		<link href="/styles/flatpack/flat-ui-slider.css" rel="stylesheet">
		<link href="/styles/flatpack/font-awesome.css" rel="stylesheet">
		<link href="/styles/flatpack/landings.css" rel="stylesheet">
		<link href="/styles/flatpack/landings_layouts.css" rel="stylesheet">
		<link href="/styles/flatpack/main.css" rel="stylesheet">
		<link href="/styles/flatpack/menu.css" rel="stylesheet">
		<link href="/styles/flatpack/pixicon.css" rel="stylesheet">
		<link href="/styles/flatpack/skeleton.css" rel="stylesheet">
		<link href="/styles/flatpack/animations.min.css" rel="stylesheet" type="text/css" media="all">
		<!--
		<link href="/styles/site.css" rel="stylesheet">
		-->
		<!-- flatpack styles-->

 
		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<script>
			document.querySelectorAll('a[href^="#"]').forEach(anchor => {
				anchor.addEventListener('click', function (e) {
					e.preventDefault();

					document.querySelector(this.getAttribute('href')).scrollIntoView({
						behavior: 'smooth'
					});
				});
			});	
	
		</script>
	</head>
	<body>
		<div class="page" id="page">
			<!--
			<div id="header">
				<div class="container">
					<div role="navigation" class="navbar navbar-default">
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
								</button>
								<a href="/" class="navbar-brand">Mr Repairman</a>
							</div>
							<div class="collapse navbar-collapse">
								<ul class="nav navbar-nav navbar-left">
										{{# each navLinks}}
										<li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
											<a href="{{ href }}">{{ label }}</a>
										</li>
									{{/each}}
								</ul>
								<ul class="nav navbar-nav navbar-right">
									{{#if user}}
									<li><a href="/keystone/signout">Sign Out</a></li>
									{{else}}
									<li><a href="/keystone/signin">Sign In</a></li>
									{{/if}}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			-->
			<div class="pixfort_normal_1 pix_builder_bg stayontop" id="section_header_3" data-selector=".pix_builder_bg" style="outline-offset: -3px;">
				<div class="header_style header_nav_1">
					<div class="container header-container">
						<div class="sixteen columns firas2 header-bar">
							<nav role="navigation" class="navbar navbar-white navbar-embossed navbar-lg pix_nav_1">
								<div class="containerss">
									<div class="navbar-header">
										<button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
											<span class="sr-only">Toggle navigation</span>
										</button>
										<img src="images/main/logo.png" class="pix_nav_logo" alt="" data-selector="img" style="">                
									</div>
									<div id="navbar-collapse-02" class="collapse navbar-collapse">
										<ul class="nav navbar-nav navbar-right">
											<li class="active propClone"><a href="#" data-selector="nav a, a.edit, nav .text_span" style="">Home</a></li>
											<li class="propClone"><a href="#portfolio" data-selector="nav a, a.edit, nav .text_span" style="">Projects</a></li>
											<li class="propClone"><a href="#team" data-selector="nav a, a.edit, nav .text_span" style="">Team</a></li>
											<li class="propClone"><a href="#testimonial" data-selector="nav a, a.edit, nav .text_span" style="">Testimonals</a></li>
											<li class="propClone"><a href="#" data-selector="nav a, a.edit, nav .text_span" style="">Contact</a></li>
											<li class="propClone"><a class="" href="#popup_2" data-selector="nav a, a.edit, nav .text_span" style=""><span class="pix_header_button pix_builder_bg" data-selector=".pix_builder_bg" style="" rel="">Schedule An Appointment</span></a></li>
										</ul>
									</div><!-- /.navbar-collapse -->
								</div><!-- /.container -->
							</nav>
						</div>
					</div><!-- container -->
				</div>
			</div>
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}


			<div class="container">
				<div id="footer">
					<p>© Copyright 2018 Mr Repaiman LLC</p>
				</div>
			</div>
			{{!--
				//- jQuery 1.11.3 is included by default, and required by both Bootstrap
				//- and the KeystoneJS Content Editor. If you are not targeting IE8,
				//- you can upgrade to 2.1.4 (also bundled) for better performance.
			--}}
			<!-- Aditya : commenting this keystone script because flatpack has jquery, look below
			<script src="/js/jquery/jquery-1.11.3.min.js"></script>
			-->
			{{!--
				//- Customise which Bootstrap javascript files are served by including
				//- them specifically here, instead of bootstrap-3.3.5.min.js
			--}}
			<!-- Aditya : commenting this keystone script because flatpack has bootstrap, look below
			<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
			-->

			<!-- Flatpack scripts -->

			<script src="js/flatpack/js/jquery-1.8.3.min.js" type="text/javascript"></script>
			<script src="js/flatpack/js/jquery.easing.1.3.js" type="text/javascript"></script>
			<script type="text/javascript" src="js/flatpack/js/jquery.common.min.js"></script>
			<script src="js/flatpack/js/ticker.js" type="text/javascript"></script>
			<script src="js/flatpack/js/custom1.js" type="text/javascript"></script>
			<script src="js/flatpack/assets/smoothscroll.min.js" type="text/javascript"></script>
			<script src="js/flatpack/assets/appear.min.js" type="text/javascript"></script>
			<script src="js/flatpack/js/jquery.ui.touch-punch.min.js"></script>
			<script src="js/flatpack/js/bootstrap.min.js"></script>
			<script src="js/flatpack/js/bootstrap-switch.js"></script>
			<script src="js/flatpack/js/custom3.js" type="text/javascript"></script>
			<script src="js/flatpack/assets/appear.min.js" type="text/javascript"></script>
			<script src="js/flatpack/assets/animations.js" type="text/javascript"></script>

			<!-- Flatpack scripts -->
			
			{{{isAdminEditorJS user}}}
		</div>		
	</body>
</html>
