{{!< default}}
<div class="pixfort_agency_14 elegant_2" id="section_agency_1">
	<div class="page_style pix_builder_bg" data-selector=".pix_builder_bg" style="outline-offset: -3px;">
		<div class="container">
			<div class="sixteen columns">
				<div class="text_page">
					<h1 class="title" data-selector="h1" style="">
						<span class="editContent" style="" data-selector="Footers">Mr Repairman!</span>
					</h1>
					<div class="green_segment pix_builder_bg" data-selector=".pix_builder_bg" style=""></div>
					<p class="subtitle editContent" data-selector="p" style="">
							Lorem ipsum dolor amet consectur adipiscing elit sed do eiusmod tempor incididunt<br><br>
							just announced three product updates on our new Releases blog channel
					</p>
				</div>
				<div class="first_link">
					<span class="get_1_btn">
						<a class="slow_fade pix_text" href="#" data-selector=".pix_text, .pix_edit" style="">
							<span class="editContent" data-selector="Footers">GET A FREE QUOTE</span>
						</a>
					</span>
				</div>
			</div>
		</div><!-- container -->
	</div>
</div>
<div class="section_pointer" pix-name="18_elegant"></div>

<div class="light_gray_bg pix_builder_bg" id="section_call_2" style="outline-offset: -3px;">
	<div class="footer3">
		<div class="container ">
			<div class="ten columns alpha offset-by-three">
				<div class="content_div center_text">
					<div class="margin_bottom_30 dark_red">
						<i class="pi pixicon-clipboard title_56"></i> 
					</div>
					<div class="margin_bottom_30">
						<p class="big_title bold_text editContent">Reservation Popup</p>
						<p class="normal_text light_gray center_text editContent">This is an example section for popups layouts, you can use it as it is, or you can check our documentation to learn how to add popups to any button or link in your landing pages, it's easy as cup cakes!</p>
						<p class="normal_text light_gray center_text editContent">
							You can also open this popup from any link in the page by adding the popup's id <strong>#popup_2</strong> in the link field.
						</p>
					</div>
					<a href="#popup_2" class="pix_button pix_button_line bold_text dark_red btn_big">
						<span>POPUP BUTTON</span>
					</a>    
				</div>
			</div>
		</div>
	</div>
</div>


<div id="popup_2" class="well pix_popup pop_style_1 pop_hidden light_gray_bg pix_builder_bg">
	<div class="center_text ">
		<div class="big_icon dark_red">
			<span class="pi pixicon-clipboard2"></span>
		</div>
		<span class="editContent"><h4 class="margin_bottom pix_text"><strong>Reservation Form</strong></h4></span>
		<p class="editContent">You can add unlimited fields directly from HTML</p>
		<form id="contact_form" class="pix_form">
			<div id="result"></div>
			<input type="text" name="name" id="name" placeholder="Your Full Name" class="pix_text"> 
			<input type="email" name="email" id="email" placeholder="Your Email" class="pix_text">
			<input type="text" name="number" id="number" placeholder="Your Phone Number" class="pix_text">
			<select name="numberp" class="pix_text">
				<option value="1">One Person</option>
				<option value="2">Two Person</option>
				<option value="3">Three Person</option>
				<option value="+4">More</option>
			</select>
			
			<span class="send_btn">
				<button type="submit" class="orange_bg submit_btn pix_text" id="submit_btn_6">
					<span class="editContent">Send Information</span>
				</button>
			</span>
			<div class="pix_text pix_note"><span class="editContent">*Some dummy text goes here.</span></div>
		</form>
	</div>
</div>


<div class="pixfort_normal_1" id="section_normal_7">
	<div class="m6_style pix_builder_bg" style="outline-offset: -3px;">
		<div class="container">
			<div class="sixteen columns">
				<div class="eight columns center_txt alpha">
					<div class="left_text_style">
						<p class="t1_style editContent">Are you ready for this?</p>
						<p class="left_style editContent">More than 10,000 apps are waiting for you with awesome features and prices that will be great for you, join us now by entering you email and subscribe us now, wow.</p>
						<a href="#" class="button_style">
							<div class="slow_fade submit_st editContent pix_text">
								SUBSCRIBE NOW
							</div>
						</a>
					</div>
				</div>
				<div class="eight columns alpha">
					<img src="images/1_normal/speed-and-security.png" class="img_style" alt="">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="" id="section_features_2">  
	<div class="light_gray_bg big_padding pix_builder_bg" style="outline-offset: -3px;">
		<div class="container">
			<div class="sixteen columns">
				<div class="four columns onethird_style alpha">
					<div class="f1_box">
						<div class="big_icon green_1">
							<span class="pi pixicon-chat"></span>
						</div>
						<div class="center_text">
							<span class="small_title bold_text"><span class="editContent"><span class="pix_text">Live Chat</span></span></span><br>
							<span class="editContent light_gray"><span class="pix_text">Seamlessly empower fully researched growth strategies and interoperable internal.</span></span>
						</div>
					</div>
				</div>
				<div class="four columns onethird_style alpha">
					<div class="f1_box">
						<div class="big_icon green_1">
							<span class="pi pixicon-scissors"></span>
						</div>
						<div class="center_text">
							<span class="small_title bold_text"><span class="editContent"><span class="pix_text">Easy Editing</span></span></span><br>
							<span class="editContent light_gray"><span class="pix_text">Seamlessly empower fully researched growth strategies and interoperable internal.</span></span>
						</div>
					</div>
				</div>
				<div class="four columns onethird_style alpha">
					<div class="f1_box">
						<div class="big_icon green_1">
							<span class="pi pixicon-telescope"></span>
						</div>
						<div class="center_text">
							<span class="small_title bold_text"><span class="editContent"><span class="pix_text">High Quality</span></span></span><br>
							<span class="editContent light_gray"><span class="pix_text">Seamlessly empower fully researched growth strategies and interoperable internal.</span></span>
						</div>
					</div>
				</div>
				<div class="four columns onethird_style alpha">
					<div class="f1_box">
						<div class="big_icon green_1">
							<span class="pi pixicon-camera2"></span>
						</div>
						<div class="center_text">
							<span class="small_title bold_text"><span class="editContent"><span class="pix_text">Instant Images</span></span></span><br>
							<span class="editContent light_gray"><span class="pix_text">Seamlessly empower fully researched growth strategies and interoperable internal.</span></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="pixfort_hotel_5 big_padding" id="portfolio">
	<div class="Homes pix_builder_bg" style="outline-offset: -3px;">
		<div class="container">
			<div class="sixteen columns">
			<h1 class="title_homes editContent">Project Showcase</h1>
			<p class="subtitle_homes editContent">
				Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore.
			</p>
			<div class="four columns  alpha">
				<div class="bg_Homes">
					<div class="img_homes_st"><img src="images/5_hotel/image-1.png" class="" alt=""></div>
					<div class="text_homes_style">
						<p class="calc_homes_st editContent">Bathroom Project 1</p>
						<p class="calc_homes_text editContent">Lorem ipsum dolor sit amet consectetur adipiscing elite.</p>
					</div>
					<span class="perday_btn editContent">  <a class="pix_text" href="#" style="color: rgb(255, 255, 255); font-size: 12px; background-color: rgb(61, 133, 198); font-family: &quot;Open Sans&quot;, sans-serif;" src="images/main/logo.png">Details</a>  </span>
				</div>
			</div>

			<div class="four columns column ">
				<div class="bg_Homes">
					<div class="img_homes_st"><img src="images/5_hotel/image-2.png" class="" alt=""></div>
					<div class="text_homes_style">
						<p class="calc_homes_st editContent">Kitchen Project 2</p>
						<p class="calc_text editContent">Lorem ipsum dolor sit amet consectetur adipiscing elite.</p>
					</div>
					<span class="perday_btn editContent" style="">  <a class="pix_text" href="#" style="color: rgb(255, 255, 255); font-size: 12px; background-color: rgb(61, 133, 198); font-family: &quot;Open Sans&quot;, sans-serif;" src="images/main/logo.png">Details</a>  </span>
				</div>
			</div>
			<div class="four columns column ">
				<div class="bg_Homes">
					<div class="img_homes_st"><img src="images/5_hotel/image-3.png" class="" alt=""></div>
					<div class="text_homes_style">
						<p class="calc_homes_st editContent">Electrical Project 3</p>
						<p class="calc_text editContent">Lorem ipsum dolor sit amet consectetur adipiscing elite.</p>
					</div>
					<span class="perday_btn editContent" style="">  <a class="pix_text" href="#" style="color: rgb(255, 255, 255); font-size: 12px; background-color: rgb(61, 133, 198); font-family: &quot;Open Sans&quot;, sans-serif;" src="images/main/logo.png">Details</a>  </span>
				</div>
			</div>
			<div class="four columns column  omega">
				<div class="bg_Homes">
					<div class="img_homes_st"><img src="images/5_hotel/image-4.png" class="" alt=""></div>
					<div class="text_homes_style">
						<p class="calc_homes_st editContent">Roofing Project 4</p>
						<p class="calc_text editContent">Lorem ipsum dolor sit amet consectetur adipiscing elite.</p>
					</div>
					<span class="perday_btn editContent">  <a class="pix_text" href="#" style="color: rgb(255, 255, 255); font-size: 12px; background-color: rgb(61, 133, 198); font-family: &quot;Open Sans&quot;, sans-serif;" src="images/main/logo.png">Details</a>  </span>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<div class="pixfort_normal_1" id="section_normal_4_1">
	<div class="m6_style pix_builder_bg" style="outline-offset: -3px;">
		<div class="container">
			<div class="sixteen columns">
				<div class="eight columns  alpha">
					<div class="gtext_style">
						<p class="t1_style editContent">The most amazing thing is here</p>
						<p class="t2_style editContent">Our service is astonishingly thin and light.</p>
						<p class="t3_style editContent">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex commodo consequat Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					</div>
				</div>
				<div class="eight columns  omega">
					<img src="images/1_normal/machine.png" class="img_style" alt="">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="center_text  padding_bottom_60 light_gray_bg pix_builder_bg" id="section_intro_title">
	<div class="container ">       
			<div class="one-third column">
				<div class="flat_pricing pix_builder_bg">
					<p class="big_title blue_text editContent">
						<strong>$9.99</strong>
					</p>
					<p class="light_gray editContent">
						<strong>Normal Event Ticket</strong>
					</p>
					<ul class="flat_pricing_list light_gray">
						<li class="pix_text">
							<span class="editContent">
								First Feature Here
							</span>
						</li>
						<li class="pix_text">
							<span class="editContent">
								Second Feature Here
							</span>
						</li>
						<li class="pix_text">
							<span class="editContent">
								Third Feature Here
							</span>
						</li>
					</ul>
					<a href="#" class="active_bg_open pix_button btn_normal btn_big bold_text blue_bg ">
						<span>Buy Tickets Now</span>
					</a> 
				</div>
			</div>
			<div class="one-third column">
				<div class="flat_pricing pix_builder_bg">
					<p class="big_title orange margin_bottom_10 editContent">
						<strong>$14.99</strong>
					</p>
					<p class="light_gray editContent">
						<strong>Premium Event Ticket</strong>
					</p>
					<ul class="flat_pricing_list light_gray">
						<li class="pix_text">
							<span class="editContent">
								First Feature Here
							</span>
						</li>
						<li class="pix_text">
							<span class="editContent" style="">
								Second Feature Here
							</span>
						</li>
						<li class="pix_text">
							<span class="editContent">
								Third Feature Here
							</span>
						</li>
					</ul>
					<a href="#" class="active_bg_open pix_button btn_normal btn_big bold_text orange_bg ">
						<span>Buy Tickets Now</span>
					</a> 
				</div>
			</div>
			<div class="one-third column">
				<div class="flat_pricing pix_builder_bg">
					<p class="big_title blue_text editContent">
						<strong>$24.99</strong>
					</p>
					<p class="light_gray editContent">
						<strong>Pro Event Ticket</strong>
					</p>
					<ul class="flat_pricing_list light_gray">
						<li class="pix_text">
							<span class="editContent">
								First Feature Here
							</span>
						</li>
						<li class="pix_text">
							<span class="editContent">
								Second Feature Here
							</span>
						</li>
						<li class="pix_text">
							<span class="editContent">
								Third Feature Here
							</span>
						</li>
					</ul>
					<a href="#" class="active_bg_open pix_button btn_normal btn_big bold_text blue_bg ">
						<span>Buy Tickets Now</span>
					</a> 
				</div>
			</div>
	</div>
</div>


<div class="center_text big_padding pix_builder_bg" id="team">
	<div class="container ">       
			<div class="one-third column">
				<div class="simple_team">
					<div class="simple_team_img ">
						<img src="images/main/placeholder150.png" alt="">
					</div>
					<div>
						<h4 class="editContent gray">
							<strong>John Doe</strong>
						</h4>
						<p class="editContent small_text light_gray">
							Lorem ipsum dolor sit amet consectetur elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
						<ul class="bottom-icons">
							<li><a class="pi pixicon-facebook2 light_gray" href="#fakelink"></a></li>
							<li><a class="pi pixicon-twitter2 light_gray" href="#fakelink"></a></li>
							<li><a class="pi pixicon-instagram light_gray" href="#fakelink"></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="one-third column">
				<div class="simple_team">
					<div class="simple_team_img ">
						<img src="images/main/placeholder150.png" alt="">
					</div>
					<div>
						<h4 class="editContent gray">
							<strong>Marc Smith</strong>
						</h4>
						<p class="editContent small_text light_gray">
							Lorem ipsum dolor sit amet consectetur elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
						<ul class="bottom-icons">
							<li><a class="pi pixicon-facebook2 light_gray" href="#fakelink"></a></li>
							<li><a class="pi pixicon-twitter2 light_gray" href="#fakelink"></a></li>
							<li><a class="pi pixicon-instagram light_gray" href="#fakelink"></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="one-third column">
				<div class="simple_team">
					<div class="simple_team_img ">
						<img src="images/main/placeholder150.png" alt="">
					</div>
					<div>
						<h4 class="editContent gray">
							<strong>Sarah Stone</strong>
						</h4>
						<p class="editContent small_text light_gray">
							Lorem ipsum dolor sit amet consectetur elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
						<ul class="bottom-icons">
							<li><a class="pi pixicon-facebook2 light_gray" href="#fakelink"></a></li>
							<li><a class="pi pixicon-twitter2 light_gray" href="#fakelink"></a></li>
							<li><a class="pi pixicon-instagram light_gray" href="#fakelink"></a></li>
						</ul>
					</div>
				</div>
			</div>
	</div>
</div>

<div class="pixfort_gym_13 pix_builder_bg" id="section_gym_5">
	<div class="join_us_section">
		<div class="container">
			<div class="sixteen columns">
				<div class="ten columns  alpha">
					<div class="zone_left">

						<div class="icon_st"> <img src="images/13_gym/heart.png" alt=""></div>
						<div class="text_st">
							<p class="title_st"><span class="editContent">High Quality Tutorials</span></p>
							<p class="subject_st"><span class="editContent">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt.</span></p>
						</div>
						<div class="clearfix"></div>
						<div class="icon_st"> <img src="images/13_gym/water.png" alt=""></div>
						<div class="text_st">
							<p class="title_st"><span class="editContent">New Latest Offers</span></p>
							<p class="subject_st"><span class="editContent" style="">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt.</span></p>
						</div>
						<div class="clearfix"></div>
						<div class="icon_st"> <img src="images/13_gym/timer.png" alt=""></div>
						<div class="text_st">
							<p class="title_st"><span class="editContent">The Best Bundle Ever</span></p>
							<p class="subject_st"><span class="editContent">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt.</span></p>
						</div>
					</div>
				</div>

				<div class="six columns omega">
					<div class="pix_form_area">
						<div class="substyle pix_builder_bg">
							<div class="title-style"><span class="editContent"><span class="pix_text">Join Us Now</span></span></div>
							<br>

							<div class="text-style">
								<span class="editContent"><span class="pix_text">Lorem ipsum dolor sit amet consectetur.</span></span>
							</div><br>

							<div class="clearfix"></div>

							<form id="contact_form" pix-confirm="hidden_pix_13">
								<div id="result"></div>
								<input type="text" name="name" id="name" placeholder="Your Full Name" class="pix_text">
								<input type="email" name="email" id="email" placeholder="Your Email" class="pix_text">
								<input type="text" name="number" id="number" placeholder="Your Phone Number" class="pix_text">
								<span class="send_btn">
									<button id="submit_btn_13" class="slow_fade editContent pix_text">
										<span class="editContent">Send Information</span>
									</button>
								</span>
							</form>
				<div class="clearfix"></div>
			</div>
			<div class="note_contact pix_builder_bg"><span class="editContent"><span class="pix_text">*Note: Bundle ends in two weeks from now.</span></span></div>
		</div>
	</div>
</div>
</div>
</div>
</div>
<div id="hidden_pix_13" class="confirm_page confirm_page_13 pix_builder_bg">
<div class="pixfort_gym_13 ">
<div class="confirm_header"><span class="editContent"><span class="pix_text">
	Thank You Very Much!</span></span></div>
	<div class="confirm_text">
		<span class="editContent"><span class="pix_text">
			Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt.</span></span>
		</div>
		<div class="center_text padding_bottom_60">
		<ul class="bottom-icons confirm_icons center_text big_title pix_inline_block">
			<li><a class="pi pixicon-facebook6 white" href="#fakelink"></a></li>
			<li><a class="pi pixicon-twitter6 white" href="#fakelink"></a></li>
			<li><a class="pi pixicon-googleplus7 white" href="#fakelink"></a></li>
		</ul>
	</div>
	</div>
</div>

<div class="pixfort_pix_1 big_padding blue-background" id="testimonial">
	<div class="tesi_style pix_builder_bg">
		<div class="container">
			<div class="sixteen columns">
				<img src="images/main/light-normal.png" alt="" class="q-icon">
				<ul class="testimonials ticker_fade" style="height: 173px;">
					<!-- First Testimonial -->
					
					<!-- End of First Testimonial -->
					<!-- Second Testimonial -->
					
					<!-- End of Second Testimonial -->
					<!-- Third Testimonial -->
					
					<!-- End of Third Testimonial -->
				<li style="opacity: 0.2601;">
						<p class="quote-text editContent">
							<!-- Change to your text here -->
							Im a web designer, you guys are very inspiring. I wish to see more work from you, maybe more freebies.
						</p>
						<div class="quote-dots">. . .</div>
						<div class="quote-title editContent pix_text">
							<!-- Change title Here -->
							Unbounce
						</div>
						<div class="quote-link editContent pix_text">
							<!-- Change Link Here -->
							via unbounce.com
						</div>

					</li><li style="display: none;">
						<p class="quote-text editContent">
							<!-- Change to your text here -->
							I’m a happy man. This is fantastic code, and it’s only just getting on its feet! love FlatBox alot :)
						</p>
						<div class="quote-dots">. . .</div>
						<div class="quote-title editContent pix_text">
							<!-- Change title Here -->
							PixFort
						</div>
						<div class="quote-link editContent pix_text">
							<!-- Change Link Here -->
							via pixfort.com
						</div>
					</li><li style="display: none;">
						<p class="quote-text editContent">
							<!-- Change to your text here -->
							Great service with fast and reliable support. The design work and
							detail put into these themes has been recognized by my customers.
						</p>
						<div class="quote-dots">. . .</div>
						<div class="quote-title editContent pix_text">
							<!-- Change title Here -->
							Envato
						</div>
						<div class="quote-link editContent pix_text">
							<!-- Change Link Here -->
							via envato.com
						</div>

					</li></ul>
			</div>
		</div><!-- container -->
	</div>
</div>

<div class="pixfort_text_4 pix_builder_bg" id="section_text_4">
	<div class="footer3">
		<div class="container ">
			<div class="five columns alpha">
				<div class="content_div area_1">
					<img src="images/main/footer-logo-3.png" class="pix_footer_logo" alt="">                
					<p class="small_text editContent">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmoda tempor incididunt.</p>
					<ul class="bottom-icons">
						<li><a class="pi pixicon-facebook2" href="#fakelink"></a></li>
						<li><a class="pi pixicon-twitter2" href="#fakelink"></a></li>
						<li><a class="pi pixicon-instagram" href="#fakelink"></a></li>
					</ul>
				</div>
			</div>
			<div class="three columns">
				<div class="content_div area_2">
					<span class="pix_text"><span class="editContent footer3_title">Navigation</span></span>
					<ul class="footer3_menu">
						<li><a href="#" class="pix_text"><span class="editContent">Home</span></a></li>
						<li><a href="#" class="pix_text"><span class="editContent">Overview</span></a></li>
						<li><a href="#" class="pix_text"><span class="editContent">About</span></a></li>
						<li><a href="#" class="pix_text"><span class="editContent">Buy now</span></a></li>
						<li><a href="#" class="pix_text"><span class="editContent">support</span></a></li>
					</ul>
				</div>
			</div>
			<div class="four columns">
				<div class="content_div area_3">
					<span class="pix_text"><span class="editContent big_number">347 567 78 90</span></span>
					<span class="pix_text"><span class="editContent small_bold light_color">AVAILABLE FROM 12PM - 18PM</span></span>
					<h4 class="editContent med_title">New York, NY</h4>
					<p class="editContent small_bold">560 Judah St &amp; 15th Ave, Apt 5 San Francisco, CA, 230903</p>
				</div>
			</div>
			<div class="four columns omega">
				<div class="content_div">
					<span class="pix_text"><span class="editContent footer3_title">Info</span></span>
					<p class="editContent ">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt Lorem ipsum dolor sit amet consectetur adipiscing elit sed.</p>
				</div>
			</div>
		</div>
	</div>
</div>
