.calendar {
	width: 100%;
	height: 700px;
	padding: 30px;	
}

.rbc-month-row {
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex: 100px;
	flex: 100px;
	overflow: hidden;
	height: 100%;
}