.q-icon {
  width: 45px !important;
  margin-left: calc(50% - 23px);
}

.pixfort_pix_1 {
	padding: 60px 0px;
	background-color: #5ca4fc;
}

.mrrheader {
  background : rgba(10,10,10,.8);
}

.logoImg {
  width: 200px;
	padding-top: 12px;
}

.logo {
  width: 200px !important;
  padding-left:0px !important;
  margin-right:10px;
}

.headerDescription {
  position: relative;
  color: rgb(220,220,220);
	font-size: 1.9rem;
	line-height:1.2;
	font-weight: normal;
}

#testimonial {
  background-color: #5ca4fc;
  height: 450px;
  padding: 0px 20px;
}

.pixfort_pix_1 {
  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
  }
}

#projects {
	text-align:center;
	padding-top: 50px;
}

.section {
	text-align:center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.employeeLogin {
	font-size: 0.8rem;
	font-weight: 700;
	color: blue;
}

.slideshow {
  width: 80%;
  margin: 100px auto 30px auto;
}

.slick-next {
  right: 60px;
  z-index: 3;
}

.slick-prev {
  left: 40px;
  z-index: 3;
}

.slick-next:before, .slick-prev:before {
  font-size: 40px;
}

.center_text { text-align: center; }
.big_padding { padding: 60px 0px 0px 0px; }

.section {
  width: 800px;
  margin-left: calc(50% - 400px);
}


.site_text {
  color: #5ca4fc;
  font-size: 1.4rem;
}


.carousel {
  img {
    max-width: 100%;
  }
}


/* scroll anim*/
.pack-page {
  width: 100%;
  height: 1000px;
  /*
  background-color: #0098CE;
  */
}

.fade-enter, .fade-leave, .fade-appear {
  animation-duration: 2s;
}

.fade-enter {
  opacity: 0;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}

.fade-appear {
  opacity: 0;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}

.fade-leave {
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}

.fade-enter.fade-enter-active {
  animation-name: fadeIn;
  animation-play-state: running;
}

.fade-appear.fade-appear-active {
  animation-name: fadeIn;
  animation-play-state: running;
}

.fade-leave.fade-leave-active {
  animation-name: fadeOut;
  animation-play-state: running;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.nav {
  position: fixed;
  font-weight: 500;
  font-family: proxima-nova, Montserrat, sans-serif;
  background-color:rgba(0,0,0,.8);
  color: #fff;
  width: 100%;
  height: 58px;
  z-index: 9999;
  top: 0;
  /*
  box-shadow: 0 2px 4px 0px rgba(27, 23, 59, 0.045), 0 22px 15px -24px rgba(37, 46, 60, 0.1);
  */
  padding-right: 150px;

  .nav-wap{
    max-width: 1100px;
    padding: 0px 0px;
    margin: 0 auto;
  }

  .nav-list {
    width: 120px;
    height: 100%;
    float: left;
    line-height: 58px;
    text-align: center;
    cursor: pointer;
    transition: background .45s;
  }

  .nav-bar {
    width: 120px;
    position: absolute;
    top: 43px;
    left: 0;
    height: 2px;
    background-color: #0098ce;
    transition: left .3s;
  }

  .right-nav-header {
    float: right;
    display: flex;
    flex-direction: row;
    .right-link {
      margin-top: 15px;
      margin-right: 20px;
      cursor: pointer;
    }
    .scheduler {
      cursor: pointer;
      margin-top: 9px;
      height: 38px;
      font-size: 15px;
      font-weight: 600;
      line-height: 1.2;
      -webkit-transition: all .1s linear;
      -moz-transition: all .1s linear;
      -ms-transition: all .1s linear;
      -o-transition: all .1s linear;
      background-color: #0684F3;
    }
    .scheduler:hover {
      box-shadow: 0 0 1px 1px rgb(255,255,255);
      color: rgb(255,255,255);
    }
  }
}

.hoverlink {
  color: hsla(0,0%,100%,.7);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  color: hsla(0,0%,100%,.7);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
}

.hoverlink:hover {
  color: rgb(255,255,255);
}

.page {
  padding: 80px 20px;
}

.page0{
  padding-top: 20px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background-color: rgb(220,220,220);
  overflow: hidden;
}

.page1{
  background-color: rgb(220,220,220);
  padding-bottom: 200px;
  padding-top: 150px;
  min-height: 900px;
}

.page2{
  min-height: 900px;
  background-image: url('bluebackground-new.jpg');
}

.page3 {
  background-color: #5ca4fc;
}

.page4 {
  background-color: rgb(220,220,220);
  padding-bottom: 200px;
  padding-top: 150px;
}

.home-title{
  position: relative;
  top:50%;
  margin-top: -65px;
}

.tween-one{
  width:100%;
  opacity: 0;
  color:#fff;
  font-size:32px;
  padding-top: 160px;
  text-align: center;
  padding-bottom: 50px;
}

.page2-title{
  width:100%;
  text-align:center;
  color:#fff;
  font-size:32px;
  padding-top:160px;
  padding-bottom:50px;
}

.demo-content{
  margin: 0 auto;
  width: 600px;
  height: 80px;
  background-color: #133252;
  margin-bottom: 30px;
  border-radius: 4px;
}

.demo-content2{
  margin: 0 auto;
  width: 600px;
  height: 80px;
  background-color: #E1FF9A;
  margin-top: 30px;
  border-radius: 4px;
}

.page-title{
   p{
    font-size: 60px;
    color: #fff;
  }
}

.page-description{
  padding-top: 20px;
  p{
    font-size: 18px;
    color: #fff;
  }
}

.parallax-shape{
  line-height: 120px;
  width: 120px;
  height: 120px;
  text-align: center;
  font-size: 24px;
}

.workcategories-row {
  max-width : 900px;
  margin : 10px auto;
}

.project-row {
  max-width : 900px;
  margin : 10px auto;
}

@media screen and (max-width: 800px) {
  .workcategories-row {
    width : 200px;
    margin : 10px auto;
  }

  .project-row {
    width : 300px;
    margin : 10px auto;
  }
  .hide-mobile {
    display: none;
  }
}

.services-header {
  font-size: 2.5em;
  padding-top: 0px;
  padding-bottom: 20px;
}

.workcat {
  margin-bottom: 20px;

  .work-cat-inner {
    height: 200px;
    width: 200px;
    position: relative;
    overflow: hidden;

    .workcat-content {
      position: absolute;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      width: 200px;
      top:0px;
      text-align: center;
      color: #dcdcdc;
      .header {
        background-color: rgba(0,0,0,.6);
        padding: 40px 10px;
        width: 200px;
        height: 200px;
        font-size: 1.4em;
        line-height: 1.1;
        text-transform: uppercase;

      }
      .workcat-details {
        color: rgb(255,255,255);
        border-top: 1px solid rgb(200,200,200);
        padding: 20px 10px;
        width: 200px;
        height: 200px;
        font-size: 1.2em;
        background-color: rgba(0,0,0,.6);
      }
    }
  }

  .work-cat-inner:hover{
    .workcat-content {
      top: -200px;
    }
  }
}

.project {
  .project-inner {
    height: 300px;
    width: 300px;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    .project-content {
      position: absolute;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      width: 300px;
      top:0px;
      text-align: center;
      color: #dcdcdc;
      .header {
        padding: 40px 10px;
        width: 300px;
        height: 300px;
        font-size: 1.4em;
        line-height: 1.1;
        text-transform: uppercase;

      }
      .project-details {
        color: rgb(255,255,255);
        border-top: 1px solid rgb(200,200,200);
        padding: 50px 10px;
        width: 300px;
        height: 300px;
        font-size: 1.4em;
        background-color: rgba(0,0,0,.6);
      }
    }
  }

  .project-inner:hover{
    .project-content {
      top: -300px;
    }
  }
}

.background-video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.video-overlay {
  /*
  position: absolute;
  */
  top: 50px;
  width: 100%;
  padding-bottom: 120px;
}

.video-shade {
  background-color: rgba(0,0,50,0.6);
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
