div #{recepient.name.first} your have an appointment from Mr Repairman Chicago with the following customer : 
p
p
div.container 
	div Customer Name : #{appointment.name.first} #{appointment.name.last}
	div Address: #{appointment.addressLine1}, #{appointment.addressLine2}
	div Zipcode: #{appointment.zipCode}
	div Phone: #{appointment.phoneNumber}
	div Appointment Ref#: #{appointment.invoiceId}
	div Type of work: #{JSON.stringify(workCategories)}
	div Customer Instructions : #{appointment.message}
	div Notes : #{appointment.invoiceNotes}
p
p

div Thanks and regards,
div Mr Repairman Chicago
