
div.container
	h4 Your appointment has been confirmed for #{date} at #{time}.

	p Payment Details :
	p Invoice # #{appointment.invoiceId}
	p USD $#{appointment.amountPaid}
	
	div Thank you!
	p Mr Repairman Chicago
