@import 'base';
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url("https://use.typekit.net/mbu3pcu.css");

.stayontop {
    top: 0px;
    position: fixed;
    z-index: 2;
    width: 100%;
}

.outline-offset {
  outline-offset: -3px;
}

.details {
   color: rgb(255, 255, 255);
   font-size: 12px;
   background-color: rgb(61, 133, 198);
   font-family: 'Open Sans', sans-serif;
}

.perDay {
  color: rgb(255, 255, 255); font-size: 12px; background-color: rgb(61, 133, 198); font-family: 'Open Sans', sans-serif;
}

.testimonials-heigt {
  height: 173px;
}

.testimonial-show {
  opacity: 0.9;
}

.testimonial-hide {
  opacity: 0;
  height: 0px;
  margin: 0px;
}

.header-bar {
  width: 1000px !important;
}

.easy{
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
}
